<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" href="/static/gg.png">

    <style>
        body{
            margin:  0;
            padding: 0;
            font-family:     sans-serif;
            background-color: lightblue;
            background-size:      cover;
            background-position: center;
        }
        .sign-up-form
        {
            width: 300px;
            box-shadow: 0 0 3px 0 rgba(0,0, 0, 0.3);
            background: #fff;
            padding: 20px;
            margin: 8% auto 0;
            text-align: center;
            border-radius: 20px;
        }
        sign-up-form h1{
            color: #1c8adb;
            margin-bottom: 30px;
        }
        .input-box{
            border-radius: 20px;
            padding:       10px;
            margin:      10px 0;
            width: 90%;
            border: 1px solid #999;
            outline: none;
        }
        button{
            color: #fff;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            font-size: 15px;
            margin: 10px 0;
            border: none;
            outline: none;
            cursor: pointer;
        }
        hr{
            margin-top: 20px;
            width: 80%;
        }
        .or{
            background: #fff;
            width: 30px;
            margin: -19px auto;
        }
        .signup-btn{
            background-color: #1c8adb;
        }
        .sign-up-form h1 {
            color: #1c8adb;
            margin-bottom: 30px;
        }
        img{
            width:150px;
            height:100px;
        }
        .btn{
            color: white;
        }
        .btn:hover {
            color: black;
        }
    </style>
</head>
<body>
<div class="sign-up-form">
    <h1>Add game</h1>
    <form action="/games/huina/" method="POST">
        <input type="text"
               id="com"
               name="com"
               class="input-box"
               placeholder="Enter com"
               value="<%= typeof name != 'undefined' ? name : '' %>">
        <hr>
        <button type="submit" class="signup-btn">Register</button>
    </form>
</div>
</body>
</html>