<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="icon" href="/static/gg.png">
    <style>
        table {width: 100%; border-collapse: collapse;}
        table td {padding: 12px 16px;}
        table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
        table tr {border-bottom: 1px solid #e8e9eb;}
        table tbody tr:hover {background: #e8f6ff;}

        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 0.5rem 1rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
        .sign-up-form
        {
            width: 800px;
            box-shadow: 0 0 3px 0 rgba(0,0, 0, 0.3);
            background: #fff;
            padding: 10px;
            margin: 8% auto 0;
            text-align: center;
            border-radius: 15px;
            margin-top: 75px;
            margin-bottom: 75px;
        }
        .sign-up-form h1{
            color: #1c8adb;
            margin-bottom: 30px;
        }
        footer{
            position: absolute;
        }
    </style>
</head>
<body style="background-image: url('/static/son.jpg');">
<%-include('navbar')%>
<div class="sign-up-form">
    <table>
        <%for(let i = 0; i < games.length; i++){%>
        <tr>
            <td><a class="btn" href="/games/show/<%=games[i].name%>"><%=games[i].name%></a></td>
        </tr>
        <% } %>
    </table>
    <br>
</div>
<%-include('footer')%>
</body>
</html>
